{% extends "netbox_config_diff/configurationrequest/base.html" %}
{% load helpers %}

{% block content %}
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">{{ object|meta:"verbose_name"|bettertitle }}</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Status</th>
              <td>{% badge object.get_status_display bg_color=object.get_status_color %}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ object.description|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">Created by</th>
              <td>
                {% if object.created_by %}
                  {% if object.created_by.get_full_name %}
                    {{ object.created_by.get_full_name }}
                  {% else %}
                    {{ object.created_by.username }}
                  {% endif %}
                {% else %}
                  &mdash;
                {% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">Approved by</th>
              <td>
                {% if object.approved_by %}
                  {% if object.approved_by.get_full_name %}
                    {{ object.approved_by.get_full_name }}
                  {% else %}
                    {{ object.approved_by.username }}
                  {% endif %}
                {% else %}
                  &mdash;
                {% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">Scheduled by</th>
              <td>
                {% if object.scheduled_by %}
                  {% if object.scheduled_by.get_full_name %}
                    {{ object.scheduled_by.get_full_name }}
                  {% else %}
                    {{ object.scheduled_by.username }}
                  {% endif %}
                {% else %}
                  &mdash;
                {% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">Scheduled</th>
              <td>{{ object.scheduled|annotated_date|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">Started</th>
              <td>{{ object.started|annotated_date|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">Completed</th>
              <td>{{ object.completed|annotated_date|placeholder }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/comments.html' %}
      {% include "inc/panels/tags.html" %}
      {% include "inc/panels/custom_fields.html" %}
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">
          Devices
        </h5>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>IP Address</th>
              </tr>
            </thead>
            <tbody>
                {% for device in object.devices.all %}
                  <tr>
                    <td>{{ device|linkify }}</td>
                    <td>{{ device.primary_ip|linkify }}</td>
                  </tr>
                {% empty %}
                  <td colspan="3" class="text-muted">
                    None
                  </td>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% if job %}
    <div class="row">
      <div class="col col-md-12">
        {% include 'netbox_config_diff/inc/job_log.html' %}
      </div>
    </div>
  {% endif %}
{% endblock content %}
