<div class="card">
  <h5 class="card-header d-flex justify-content-between">
    {{ header }}
    <div>
      {% copy_content pre_id %}
      <a href="?export_{{ pre_id }}=True" class="btn btn-sm btn-primary" role="button">
        <i class="mdi mdi-download" aria-hidden="true"></i> Download
      </a>
    </div>
  </h5>
  {% if data %}
    <div class="card-body">
      <pre id="{{ pre_id }}">{{ data }}</pre>
    </div>
  {% else %}
    <div class="card-body text-muted">None</div>
  {% endif %}
</div>
