{% extends "netbox_config_diff/configcompliance.html" %}

{% block title %}{{ object }} - {{ header }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col col-md-6">
      {% include 'netbox_config_diff/inc/commands_card.html' with data=object.missing header='Missing' pre_id='missing' %}
    </div>
    <div class="col col-md-6">
      {% include 'netbox_config_diff/inc/commands_card.html' with data=object.extra header='Extra' pre_id='extra' %}
    </div>
  </div>
{% endblock %}
